body {
  section {
    padding: 40px 0;
  }
  h1, h2, h3 {
    font-family: $heading;
  }
  h1 {
    font-weight: 700;
    text-transform: uppercase;
  }
  h3 {
    font-size: 16px;
  }
  h2 {
    font-size: 40px;
    font-weight: 700;
  }
  p, a, span {
    font-family: 'Roboto';
    font-size: 16px;
  }
  a:hover {
    text-decoration: none;
  }
  button {
    border: none;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
  ul {
    margin-bottom: 0;
  }
  .snap-code {
    .snap-img {
      width: 200px;
      margin-bottom: 32px;
    }
  }
  .scanner-container {
    margin: auto;
    display: flex;
    height: calc(100vh - 240px);
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .no-margin {
    margin-bottom: 0 !important;
  }
  .dashboard-control {
    background-color: #161616;
    margin-top: auto;
    padding: 16px;
    a {
      color: #fff;
    }
  }
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fill-page {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .form-container {
      transform: translateY(-50px);
    }
  }
  .MuiAppBar-colorPrimary {
    background-color: #161616 !important;
  }
  margin: 0;
  .row {
    display: flex;
    flex-direction: row;
  }
  .col {
    display: flex;
    flex-direction: column;
  }
  .scanner-response {
    font-weight: 600;
  }
  .loading-container {
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .loading-container img {
    height: 4px;
  }

  .form-loader-container img {
    width: 20px;
  }
}
