header.landing-header {
  background-image: url('/bg-home-hero.jpg');
  height: 80vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
